In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 140.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... one
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ...done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-linux_x86_64.whl size=1160111 sha256=9943703d7c1cd69e91fa439e73f4a059088e9587cfbaaab59ebb8dc98d0d2a04
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/b3/1c/42/0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.37
    Uninstalling SQLAlchemy-2.0.37:
      Successfully uninstalled SQLAlchemy-2.0.37
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyterhub 5.2.1 requires SQLAlchemy>=1.4.1, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.17.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.44-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.5 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.4-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.44-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 128.1 MB/s eta 0:00:00
Downloading prettytable-3.17.0-py3-none-any.whl (34 kB)
Downloading sqlparse-0.5.4-py3-none-any.whl (45 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.17.0 sqlalchemy-2.0.44 sqlparse-0.5.4
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.12/site-packages (3.17.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.5.4)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [10]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [11]:
%sql SELECT * FROM SPACEXTABLE WHERE "Launch_Site" LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [12]:
%sql SELECT SUM(CAST("Payload_Mass" AS FLOAT)) AS Total_Payload_Mass_kg FROM SPACEXTABLE WHERE "Customer"='NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(0.0,)]

In [13]:
%sql SELECT AVG(CAST("Payload_Mass" AS FLOAT)) AS Avg_Payload_Mass_kg FROM SPACEXTABLE WHERE "Booster_Version"='F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(0.0,)]

In [14]:
%sql SELECT MIN("Date") AS First_Successful_Ground_Pad_Landing FROM SPACEXTABLE WHERE "Landing_Outcome"='Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

In [15]:
%sql SELECT DISTINCT "Booster_Version" FROM SPACEXTABLE WHERE "Landing_Outcome"='Success (drone ship)' AND CAST("Payload_Mass" AS FLOAT) > 4000 AND CAST("Payload_Mass" AS FLOAT) < 6000;

 * sqlite:///my_data1.db
Done.

[]

In [16]:
%sql SELECT "Launch_Outcome", COUNT(*) AS Total FROM SPACEXTABLE GROUP BY "Launch_Outcome";

 * sqlite:///my_data1.db
Done.

[('Launch_Outcome', 101)]

In [17]:
%sql SELECT "Booster_Version", "Payload_Mass" FROM SPACEXTABLE WHERE CAST("Payload_Mass" AS FLOAT) = (SELECT MAX(CAST("Payload_Mass" AS FLOAT)) FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 v1.0  B0003', 'Payload_Mass'),
 ('F9 v1.0  B0004', 'Payload_Mass'),
 ('F9 v1.0  B0005', 'Payload_Mass'),
 ('F9 v1.0  B0006', 'Payload_Mass'),
 ('F9 v1.0  B0007', 'Payload_Mass'),
 ('F9 v1.1  B1003', 'Payload_Mass'),
 ('F9 v1.1', 'Payload_Mass'),
 ('F9 v1.1', 'Payload_Mass'),
 ('F9 v1.1', 'Payload_Mass'),
 ('F9 v1.1', 'Payload_Mass'),
 ('F9 v1.1', 'Payload_Mass'),
 ('F9 v1.1 B1011', 'Payload_Mass'),
 ('F9 v1.1 B1010', 'Payload_Mass'),
 ('F9 v1.1 B1012', 'Payload_Mass'),
 ('F9 v1.1 B1013', 'Payload_Mass'),
 ('F9 v1.1 B1014', 'Payload_Mass'),
 ('F9 v1.1 B1015', 'Payload_Mass'),
 ('F9 v1.1 B1016', 'Payload_Mass'),
 ('F9 v1.1 B1018', 'Payload_Mass'),
 ('F9 FT B1019', 'Payload_Mass'),
 ('F9 v1.1 B1017', 'Payload_Mass'),
 ('F9 FT B1020', 'Payload_Mass'),
 ('F9 FT B1021.1', 'Payload_Mass'),
 ('F9 FT B1022', 'Payload_Mass'),
 ('F9 FT B1023.1', 'Payload_Mass'),
 ('F9 FT B1024', 'Payload_Mass'),
 ('F9 FT B1025.1', 'Payload_Mass'),
 ('F9 FT B1026', 'Payload_Mass'),
 ('F9 FT B1029.1', 'Payload_Mass'),
 ('F9 FT B1031.1', 'Payload_Mass'),
 ('F9 FT B1030', 'Payload_Mass'),
 ('F9 FT  B1021.2', 'Payload_Mass'),
 ('F9 FT B1032.1', 'Payload_Mass'),
 ('F9 FT B1034', 'Payload_Mass'),
 ('F9 FT B1035.1', 'Payload_Mass'),
 ('F9 FT  B1029.2', 'Payload_Mass'),
 ('F9 FT B1036.1', 'Payload_Mass'),
 ('F9 FT B1037', 'Payload_Mass'),
 ('F9 B4 B1039.1', 'Payload_Mass'),
 ('F9 FT B1038.1', 'Payload_Mass'),
 ('F9 B4 B1040.1', 'Payload_Mass'),
 ('F9 B4 B1041.1', 'Payload_Mass'),
 ('F9 FT  B1031.2', 'Payload_Mass'),
 ('F9 B4 B1042.1', 'Payload_Mass'),
 ('F9 FT  B1035.2', 'Payload_Mass'),
 ('F9 FT  B1036.2', 'Payload_Mass'),
 ('F9 B4 B1043.1', 'Payload_Mass'),
 ('F9 FT  B1032.2', 'Payload_Mass'),
 ('F9 FT  B1038.2', 'Payload_Mass'),
 ('F9 B4 B1044', 'Payload_Mass'),
 ('F9 B4  B1041.2', 'Payload_Mass'),
 ('F9 B4  B1039.2', 'Payload_Mass'),
 ('F9 B4 B1045.1', 'Payload_Mass'),
 ('F9 B5  B1046.1', 'Payload_Mass'),
 ('F9 B4  B1043.2', 'Payload_Mass'),
 ('F9 B4  B1040.2', 'Payload_Mass'),
 ('F9 B4 B1045.2', 'Payload_Mass'),
 ('F9 B5B1047.1', 'Payload_Mass'),
 ('F9 B5B1048.1', 'Payload_Mass'),
 ('F9 B5 B1046.2', 'Payload_Mass'),
 ('F9 B5B1049.1', 'Payload_Mass'),
 ('F9 B5 B1048.2', 'Payload_Mass'),
 ('F9 B5 B1047.2', 'Payload_Mass'),
 ('F9 B5 B1046.3', 'Payload_Mass'),
 ('F9 B5B1050', 'Payload_Mass'),
 ('F9 B5B1054', 'Payload_Mass'),
 ('F9 B5 B1049.2', 'Payload_Mass'),
 ('F9 B5 B1048.3', 'Payload_Mass'),
 ('F9 B5B1051.1', 'Payload_Mass'),
 ('F9 B5B1056.1 ', 'Payload_Mass'),
 ('F9 B5 B1049.3', 'Payload_Mass'),
 ('F9 B5 B1051.2 ', 'Payload_Mass'),
 ('F9 B5 B1056.2 ', 'Payload_Mass'),
 ('F9 B5 B1047.3 ', 'Payload_Mass'),
 ('F9 B5 B1048.4', 'Payload_Mass'),
 ('F9 B5B1059.1', 'Payload_Mass'),
 ('F9 B5 B1056.3 ', 'Payload_Mass'),
 ('F9 B5 B1049.4', 'Payload_Mass'),
 ('F9 B5 B1046.4', 'Payload_Mass'),
 ('F9 B5 B1051.3', 'Payload_Mass'),
 ('F9 B5 B1056.4', 'Payload_Mass'),
 ('F9 B5 B1059.2', 'Payload_Mass'),
 ('F9 B5 B1048.5', 'Payload_Mass'),
 ('F9 B5 B1051.4', 'Payload_Mass'),
 ('F9 B5B1058.1 ', 'Payload_Mass'),
 ('F9 B5 B1049.5', 'Payload_Mass'),
 ('F9 B5 B1059.3', 'Payload_Mass'),
 ('F9 B5B1060.1', 'Payload_Mass'),
 ('F9 B5 B1058.2 ', 'Payload_Mass'),
 ('F9 B5 B1051.5', 'Payload_Mass'),
 ('F9 B5 B1049.6', 'Payload_Mass'),
 ('F9 B5 B1059.4', 'Payload_Mass'),
 ('F9 B5 B1060.2 ', 'Payload_Mass'),
 ('F9 B5 B1058.3 ', 'Payload_Mass'),
 ('F9 B5 B1051.6', 'Payload_Mass'),
 ('F9 B5 B1060.3', 'Payload_Mass'),
 ('F9 B5B1062.1', 'Payload_Mass'),
 ('F9 B5B1061.1 ', 'Payload_Mass'),
 ('F9 B5B1063.1', 'Payload_Mass'),
 ('F9 B5 B1049.7 ', 'Payload_Mass'),
 ('F9 B5 B1058.4 ', 'Payload_Mass')]

In [18]:
%sql SELECT substr("Date",6,2) AS Month, "Landing_Outcome", "Booster_Version", "Launch_Site" FROM SPACEXTABLE WHERE "Landing_Outcome"='Failure (drone ship)' AND substr("Date",1,4)='2015';

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]